{% extends 'basic4.html'%}
{% block body %}


<a href="/"
<button class="btn btn-primary btn-sm ">
    Back
</button>
</a>
<br>
<br>


{% with errors = get_flashed_messages(category_filter=["warning"]) %}
{% if errors %}
{%- for message in errors %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    <span>{{ message }}</span>
    <button aria-label="Close" class="close" data-dismiss="alert" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor -%}
{% endif %}
{% endwith %}
<table class="table table-bordered table-hover table-sm table-responsive" style="max-width: 500px">
    <thead>
    <tr>
        <th style="width: 5%">{{list_column_names_recipes[0]}}</th>
        <th style="width: 5%">{{list_column_names_recipes[1]}}</th>
        <th style="width: 5%"></th>

    </tr>
    </thead>

    <tbody>

    <tr>
        {%for key_rec in dict_recipes%}

        <td>{{key_rec}}</td>

        <td>{{dict_recipes[key_rec]}}</td>

        <td><a href="/del_rec/{{key_rec}}">
                    <button class="btn btn-primary btn-sm ">
                        <svg class="bi bi-trash" fill="currentColor" height="1em" viewBox="0 0 16 16" width="1em"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.5 5.5A.5.5 0 016 6v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm2.5 0a.5.5 0 01.5.5v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm3 .5a.5.5 0 00-1 0v6a.5.5 0 001 0V6z"/>
                            <path clip-rule="evenodd"
                                  d="M14.5 3a1 1 0 01-1 1H13v9a2 2 0 01-2 2H5a2 2 0 01-2-2V4h-.5a1 1 0 01-1-1V2a1 1 0 011-1H6a1 1 0 011-1h2a1 1 0 011 1h3.5a1 1 0 011 1v1zM4.118 4L4 4.059V13a1 1 0 001 1h6a1 1 0 001-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
                                  fill-rule="evenodd"/>
                        </svg>
                    </button>
                </a>
        </td>

    </tr>

    </tbody>
    {%endfor%}

</table>




{%endblock%}